---
interface Props {
  id: string;
  name: string;
  img: string;
  success: boolean | null;
  flightNumber: number;
  details: string;
}

const { success, img, name, id } = Astro.props;
const successText = success ? "Success" : "Failure";
---

<a
  href={`/launches/${id}`}
  class="aspect-w-1 aspect-h-1 rounded-lg border shadow-md bg-gray-800 border-gray-700
    hover:scale-105 hover:bg-gray-700 hover:border-gray-500 transition flex flex-col justify-between"
>
  <picture class="flex justify-center p-4 items-center">
    <img class="mb-5 rounded-lg items-center" src={img} alt={`Patch for launch ${id}`} />
  </picture>

  <header class="p-4 flex-grow flex flex-col items-start justify-center">
    <span
      class:list={[
        `text-xs font-semibold mr-2 px-2.5 py-0.5 rounded `,
        {
          "bg-green-400 text-green-900": success,
          "bg-red-400 text-red-900": !success,
        },
      ]}
    >
      {successText}
    </span>
    <h2 class="my-2 text-xl font-bold tracking-tight text-white">
      {name}
    </h2>
  </header>
</a>
