---
interface Props {
  page: number;
  order: string;
}

import { getLaunchesOrderedBy } from "../lib/spacex";
import { getLaunchesByPage } from "../lib/spacex";
import type { APISpaceXResponse } from "../types/api";
import CardLaunch from "./CardLaunch.astro";

const { page, order } = Astro.props as Props;

let launches: APISpaceXResponse[] = [];

if (page === -1) {
  if (order === "asc") {
    launches = await getLaunchesOrderedBy("asc");
  } else {
    launches = await getLaunchesOrderedBy("desc");
  }
} else {
  launches = await getLaunchesByPage(page);
}
---

<article class="flex flex-col">
  <div
    class="grid w-[100%] gap-8 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4"
  >
    {
      launches.map((launch) => (
        <CardLaunch
          id={launch.id}
          name={launch.name}
          img={launch.links.patch.small || "/spacex-placeholder.png"}
          success={launch.success}
          flightNumber={launch.flight_number}
          details={launch.details}
        />
      ))
    }
  </div>
</article>
